<% if flash[:info] %>
<% flash[:info].each do |message|%>
<p> <%=  message %> </p>
<% end%>
<% end %>

<%= form_for user do |f| %>
<%= f.label :username, 'Your username:' %>
<%= f.text_field :username, placeholder: "xxxxyyy" %>
<%= f.submit "Submit", name: 'sign_up' %>
<% end %>