<% if @attend_events %>
<div>
  <% @events.each do |event| %>
  <%= event.date %> |
  <%= event.title %>
  <br>
  <% end %>
</div>
<div>
  <% @attend_events.each_with_index do |attend_event, index| %>
  <%= attend_event.title %> <br>
  <% end %>
</div>
<% if @previous_events.count != 0 %>
<div>
  <h1>Previous events</h1>
  <% @previous_events.each_with_index do |previous_event, index| %>
  <%= previous_event.title %> <br>
  <% end %>
</div>
<% end %>
<% if @upcoming_events.count != 0 %>
<div>
  <h1>Upcoming events</h1>
  <% @upcoming_events.each_with_index do |upcoming_event, index| %>
  <%= upcoming_event.title %> <br>
  <% end %>
</div>
<% end %>
<% end %>