<% unless @created_events.count.zero? %>
<h1>Created events by <%= @user.username %></h1>
<div>
    <% @created_events.each do |event| %>
    <h3>
        <%= link_to event.title, event_path(event) %><br>
        <%= event.date %>
    </h3>
    <br>
    <% end %>
</div>
<% end %>

<h1>Previous events</h1>
<% if @previous_events.count.zero? %>
<h3>There is no previous attended event.</h3>
<% else %>
<div>

    <% @previous_events.each_with_index do |previous_event, index| %>
    <h3>
        <%= link_to previous_event.title, event_path(previous_event) %> <br>
    </h3>
    <% end %>
</div>
<% end %>

<h1>Upcoming events</h1>
<% if @upcoming_events.count.zero? %>
<h3>There is no upcoming event to attend.</h3>
<% else %>
<div>
    <% @upcoming_events.each_with_index do |upcoming_event, index| %>
    <h3>
        <%= link_to upcoming_event.title, event_path(upcoming_event) %> <br>
    </h3>
    <% end %>
</div>
<% end %>