   <%= form_for @event do |f| %>
   <div>
       <%= f.label :title, 'Event' %>
   </div>
   <div>
       <%= f.text_field :title %>
   </div>

   <div>
       <%= f.label :description, 'Event' %>
   </div>
   <div>
       <%= f.text_area :description %>
   </div>
   <div>
       <%= f.submit "Submit", :class => "btn-primary"%>
   </div>
   <% end %>