<!DOCTYPE html>
<html>

<head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
</head>

<body>

    <header>
        <nav>
            <div class="left-nav">

            </div>
            <div class="right-nav">
                <div class='current-user'>
                    <h3>
                        <% if current_user %>
                        Hi <%= current_user.username %>
                        |
                        <%= link_to 'Sign out', sign_out_path, method: :delete %>
                        <% else %>
                        <%= link_to 'Sign in', sign_in_path %>
                        |
                        <%= link_to 'Sign up', new_user_path %>
                        <% end %>
                    </h3>
                </div>
                <% if current_user %>
                <div class='create_event'>
                    <h3><%= link_to 'Create Event', new_event_path %></h3>
                </div>
                <% end %>


            </div>
        </nav>
    </header>
    <%= yield %>
</body>

</html>